/* FORM */
.form {
    width: 100%;
    height: 100%;
    padding: 40px;
    @include device(mobile-only) {
        padding: 10px 40px;
    }
    
    &__title {
    font-weight: 700;
    line-height: 1.5;
    text-align: center;
    letter-spacing: var(--ls-003);
    color: var(--heading-color);
    font-size: 20px;
    margin-bottom: 12px;
}

    &__field {
    margin-bottom: 10px;
}

    &__textarea {
    margin-bottom: 20px;
}

    &__label {
    display: block;
    width: max-content;
    margin-bottom: 4px;
    font-family: 'Roboto';
    line-height: 1.17;
    font-size: 12px;
    color: var(--paragraph-color);
    letter-spacing: var(--letter-spacing-input);
}

    &__wrapper {
    position: relative;
}

    &__input {
    display: inline-block;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--border-input);
    padding-left: 42px;
    transition: border-color var(--duration) var(--timing-function);

    &:focus {
    border-color: var(--accent-color);
    outline: none;
}
}

    &__comment {
    display: block;
    resize: none;
    min-height: 120px;
    width: 100%;
    padding: 12px 16px;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid var(--border-input);
    color: var(--heading-color);
    transition: border-color var(--duration) var(--timing-function);

    &:focus {
    border-color: var(--accent-color);
    outline: none;
    }

    &::placeholder {
    line-height: 1.16;
    letter-spacing: var(--letter-spacing-input);
    color: var(--placeholder-color);
    font-size: 14px;
}
}

    &__image {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    fill: var(--heading-color);
    transition: var(--duration) var(--timing-function);

    .form__input:focus+& {
    fill: var(--accent-color);
}
}
}

    .license {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;

    &__label {
    font-size: 12px;
    align-items: center;
    line-height: 1.17;
    color: var(--paragraph-color);
    display: flex;
    letter-spacing: var(--ls-003);
    @include device(desctop) {
        font-size: 14px;
        line-height: 1.7;
    }
}

    &__icon {
    display: block;
    outline: 2px solid var(--heading-color);
    outline-offset: -2px;
    border-radius: 2px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-right: 7px;
    transition: outline var(--duration) var(--timing-function), background-color var(--duration) var(--timing-function), filter var(--duration) var(--timing-function), box-shadow var(--duration) var(--timing-function);

    .license__input:checked+& {
    background-color: var(--accent-color);
    outline: transparent;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
}


    &__image {
    display: flex;
    justify-content: space-between;
    align-items: center;
    fill: transparent;

    .license__input:checked+.license__icon>& {
    fill: var(--white-color);
}
}

    &__link {
    color: var(--accent-color);
    text-decoration: underline;
}
}
