.backdrop {
    position: fixed;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    background-color: var(--backdrop-background);

    opacity: 1;
    visibility: visible;
    transition: opacity 500ms var(--timing-function), visibility 500ms var(--timing-function);
    
    
    &--is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    & .modal {
    transform: translate(-50%, -50%) scale(0.6);
    opacity: 0;
}
}
}


.modal {
    position: absolute;
    left: 50%;
    top: 50%;
    opacity: 1;

    width: 100%;

    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);

    // padding: 40px;
    text-align: center;
    display: flex;
    align-items: center;

    transition: opacity 500ms var(--timing-function),
        scale 500ms var(--timing-function),
        transform 500ms var(--timing-function);


}

.modal-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: transparent;
    top: 8px;
    right: 8px;
    border: 1px solid var(--modal-btn-border);
    fill: var(--logo-color);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    transition: background-color var(--duration) var(--timing-function),
        fill var(--duration) var(--timing-function);
        
    &:hover,
    &:focus {
    fill: var(--accent-color);
}
}

