.footer {
    background-color: var(--background-dark);
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
    @include device(desctop) {
        text-align: left;
    }
}

.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // align-items: baseline;
    @include device(desctop) {
        flex-direction: row;
        justify-content: flex-start;
        align-items: baseline;
    }
}
.contacts-wrapper {
    @include device(tablet) {
        display: flex;
        justify-content: space-around;
        margin-bottom: 60px;
        align-items: baseline;
    }
    @include device(desctop) {
        margin-bottom: 0;
        justify-content: flex-start;
        align-items: baseline;
       
    }
}

.logo--footer {
    display: block;
    color: var(--white-color);
    margin-bottom: 20px;
    @include device(desctop) {
        font-size: 26px;
    }
}

/* start */
.start {
    @include device(mobile-only) {
        margin-bottom: 60px;
    }

    @include device(desctop) {
        margin-right: 70px;
    }  
    
    &__list {
    flex-direction: column;
}

    &__item:not(:last-child) {
    margin-bottom: 8px;
    @include device(desctop) {
    margin-bottom: 9px;
    }
}   

    &__link {
    letter-spacing: var(--ls-003);
    color: var(--white-color);
    font-size: 14px;
    line-height: 1.7;
    font-style: normal;
}

    &__link--grey {
    color: var(--adress-color);
    transition: color var(--duration) var(--timing-function);
    
    &:hover,
    &:focus {
    color: var(--accent-color);
}
}
}
/* ======================= */



/* join */
.join {
    @include device(mobile-only) {
        margin-bottom: 60px;
    }
    
}

.join__text {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: var(--ls-003);
    text-transform: uppercase;
    color: var(--white-color);
    margin-bottom: 20px;
}

.join-list {
    display: flex;
    justify-content: center;

    &__item:not(:last-child) {
    margin-right: 10px;
}

    &__link {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color var(--duration) var(--timing-function);
}
    &__image {
    fill: var(--white-color);
}
}
//* ======================= */

/* footer-form */
.footer-form {
    @include device(desctop) {
        margin-right: 0;
        margin-left: auto;
    }
   
}

.form-action {
    @include device(desctop) {
        display: flex;
    }
    
    
    &__label {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background-color: transparent;
    margin-bottom: 20px;
    height: 50px;
    display: inline-block;
    padding: 15px;
    padding-left: 16px;
    width: 100%;

    @include device(tablet) {
        width: 450px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    @include device(desctop) {
        margin-right: 10px;
        margin-bottom: 0;
        width: 358px;
    }
}

    &__input {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    line-height: 1.25;
    letter-spacing: var(--ls-003);
    color: var(--white-color);
    outline: none;
    
    &::placeholder {
    color: var(--placeholder-color);
}
}   &__text {
    display: flex;
    align-items: center;
}   
    &__icon {
    fill: #fff;
    margin-left: auto;
}
}
/* ======================= */