
.button-menu {
    min-height: 40px;
    min-width: 40px;
    border: none;
    border-radius: 50%;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover,
    &:focus {
    fill: var(--accent-color);
    }
}

.menu-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    padding: 48px 40px;
    background-color: var(--white-color);
    z-index: 20;

    transform: translateX(-100%);
    opacity: 0;
    transition: transform var(--duration) var(--timing-function), opacity var(--duration) var(--timing-function);

    @include device(tablet) {
        display: none;
    }
    & .js-open-menu {
        display: none;
    }
}
.js-close-menu {
    position: absolute;
    top: 10px;
    right: 15px;
}

.menu-container.is-open {
    display: flex;
    flex-direction: column;
    transform: translateX(0);
    opacity: 1;
    & .header-contact__image {
    display: none;
    }
}

.header-contact__item:first-child {
    margin-bottom: 32px;
    font-size: 34px;
}

.menu-container.is-open .header__logo {
    display: none;
}

.menu-container__icon {
    transition: fill var(--duration) var(--timing-function);
}

.menu-container__icon:hover,
.menu-container__icon:focus {
    fill: var(--accent-color);
}
