.order {
    text-align: center;
    color: var(--white-color);
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 200px 0;
    max-width: 1600px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero/hero_sm.jpg);
    @include device(retina) {
        // background-image: url(../../images/hero/hero_sm@2x.webp), linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
        background-image: url(../../images/hero/hero_sm@2x.jpg), linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
    }

    @include device(tablet) {
        // background-image: url(../../images/hero/hero_md.webp), linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero/hero_md.jpg);

    @include device(retina) {
        // background-image: url(../../images/hero/hero_md@2x.webp), linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero/hero_md@2x.jpg);
    }
    }

    @include device(desctop) {
        // background-image: url(../../images/hero/hero_md.webp), linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero/hero_lg.jpg);
    
    @include device(retina) {
        // background-image: url(../../images/hero/hero_md@2x.webp), linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/hero/hero_lg@2x.jpg);
    }
    }

    &__title {
    max-width: 360px;
    margin: 0 auto;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    letter-spacing: var(--ls-006);
    text-transform: uppercase;
    margin-bottom: 30px;
    @include device(desctop) {
        max-width: 696px;
        font-size: 44px;
    }
}
}
