.filter {
    list-style: none;
    padding: 0;
    margin-bottom: 50px; 
    font-size: 0;
    @include device(tablet) {
        display: flex;
        justify-content: center;
    }

    &__button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: var(--ls-003);
    color: var(--heading-color);
    background-color: var(--background-grey);
    border: none;
    cursor: pointer;
    border-radius: 4px;
    min-height: 38px;
    padding: 6px 22px;
    transition: background-color var(--duration) var(--timing-function),
    color var(--duration) var(--timing-function),
    box-shadow var(--duration) var(--timing-function);
    
    &:hover,
    &:focus {
    background-color: var(--accent-color);
    color: var(--white-color);
    box-shadow:
        0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

    &--active {
    background-color: var(--accent-color);
    color: var(--white-color);
    box-shadow:
        0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}
}
}
.filter__item {
    &:not(:last-child) {
        margin-right: 8px;
    }

    @include device(mobile-only) {
     display: inline-block;

    &:not(:nth-last-child(-n + 2)) {
        margin-bottom: 15px;
    }
}   
  
}
    

.portfolio {

    @include device(tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }
    
    
    
    &__item {
    
        @include device(tablet) {
        flex-basis: calc((100% - 60px) / 2);
    }
    
    @include device(desctop) {
        flex-basis: calc((100% - 90px) / 3);
    }
    @include device(tablet) {
        &:not(:last-child) {
        margin-bottom: 30px;
    }
    }
    @include device(desctop) {
        &:nth-last-child(-n+3) {
            margin-bottom: 0;
        }
    }
    
    
}

    &__link {
    transition: box-shadow var(--duration) var(--timing-function);
    display: flex;
    flex-direction: column;
    height: 100%;
    
    &:hover,
    &:focus {
    display: block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}
}

    &__wrapper {
    position: relative;
    overflow: hidden;
}
    &__image {
        width: 100%;
        margin: 0 auto;
    }
    
    &__description {
    position: absolute;
    padding: 63px 22px;
    color: var(--white-color);
    background-color: var(--portfolio-description);
    content: "";
    width: 100%;
    height: 100%;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: var(--ls-003);
    opacity: 0;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform var(--duration) var(--timing-function),
    opacity var(--duration) var(--timing-function);

    .portfolio__link:hover &,
    .portfolio__link:focus & {
    opacity: 1;
    transform: translatey(0);
}
}
    &__info {
    border: 1px solid var(--portfolio-item);
    border-top: none;
    padding: 20px 24px;
    flex-grow: 1;
}   

    &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: var(--ls-006);
    color: var(--heading-color);
    margin-bottom: 4px;
}
    &__type {
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: var(--ls-003);
    color: var(--paragraph-color);
}
}

















