
.team-list {
    @include device(tablet) {
      display: flex;
      justify-content: space-between;  
      flex-wrap: wrap;
    }
    

    &__item {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: var(--white-color);
    @include device(tablet) {
        flex-basis: calc((100% -  30px) / 2);
    }
    @include device(tablet) {
        flex-basis: calc((100% - 3 * 30px) / 4);
    }
    
    @include device(mobile-only) {
        &:not(:last-child) {
             margin-bottom: 30px;
        }
    }
    @include device(tablet-only) {
        &:nth-child(-n+2) {
            margin-bottom: 30px;
        }
    }
    
    
}

    &__description {
    padding: 30px 24px;
    @include device(tablet) {
        padding: 30px 74px 24px;
    }
    @include device(desctop) {
        padding: 30px 32px;
    }
}

    &__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: var(--ls-003);

}

    &__text {
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: var(--ls-003);
    color: var(--paragraph-color);
    margin-top: 10px;
    margin-bottom: 16px;
}
}



